<!DOCTYPE html>
<html lang="en">


<!-- molla/login  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="public/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="public/assets/images/icons/site">
    <link rel="mask-icon" href="public/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="public/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="public/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="public/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="public/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1zFqELYZxMVexh5tRaxfInq60eaQW7NbMU=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="preloader"></div>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="about">About Us</a></li>
                                    <li><a href="contact">Contact Us</a></li>
                                    <li><a href="/login" ><i class="icon-user"></i>Login</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="home" class="logo">
                            <img src=" /public/assets/imgs/theme/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/">Home</a>
                                </li>

                                <li>
                                    <a href="shop">Shop</a>

                                </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="about" >About</a>
                                        </li>
                                        <li>
                                            <a href="contact">Contact</a>
                                        </li>
                                        <li><a href="login">Login</a></li>
                                        <li><a href="faq">FAQs</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="home">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item"><a href="login">Login</a></li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" >
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
                            <div class="text-center text-dark ">
                                Sign-Up
                            </div>
                                <span id="message" style="color: rgb(255, 0, 0);"></span>

							<div class="tab-content">
							    	<form  id="myForm" onsubmit="validation(event)"  method="post" novalidate>
                                        <div class="form-group">
							    			<label for="name">Name</label>
							    			<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" >
							    		</div>
							    		<div class="form-group">
							    			<label for="email">Your email address *</label>
							    			<input type="email" id="email" class="form-control" placeholder="Enter Email" name="email" >
							    		</div><!-- End .form-group -->

                                        <div class="form-group">
							    			<label for="mobile">Phone number *</label>
							    			<input type="tel" class="form-control" id="mobile" placeholder="Enter Phone Number" name="mobile" >
							    		</div>

							    		<div class="form-group">
							    			<label for="password">Password *</label>
							    			<input type="password" class="form-control" id="password"  placeholder=" Enter Password" name="password" >
							    		</div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="referral-code">Referral Code(optional)</label>
                                            <input type="text" class="form-control" placeholder="Enter Referral Code" name="referralCode">
                                        </div>

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
                                            <div>
                                                <p>Already have account <a href="login">click here!</a></p>
                                            </div>
							    		</div>
							    	</form>
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src=" /public/assets/imgs/theme/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact">Contact us</a></li>
	            					<li><a href="login">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="public/assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>



    <script>

        
async function validation(event) {
    event.preventDefault();
    const name = document.getElementById("name").value;
    const email = document.getElementById("email").value;
    const mobile = document.getElementById("mobile").value;
    const password = document.getElementById("password").value;
    const message = document.getElementById('message');
    const myForm = document.getElementById('myForm');

    if (email.trim() == "" || name.trim() == "" || mobile.trim() == "" || password.trim() == "") {
        message.textContent = "All fields are required";
        clearError(message, 2000);
    } else if (/[0-9]/.test(email.charAt(0))) {
        message.textContent = "Enter valid format";
        clearError(message, 2000);
    } else if (!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(email)) {
        message.textContent = "Enter valid format";
        clearError(message, 2000);
    } else if (mobile.length !== 10) {
        message.textContent = "Enter 10 digits for mobile";
        clearError(message, 2000);
    } else if(/[a-zA-Z]/.test(mobile)) {
        message.textContent = "Enter digits only for mobile";
        clearError(message, 2000);
    } else if (password.length < 8) {
        message.textContent = "Password must be at least 8 digits";
        clearError(message, 2000);
    } else {
        $.ajax({
            url: '/signup',
            type: 'POST',
            data: $('#myForm').serialize(),
            success: function (data) {
    console.log(data);

    if (data.redirectPath) {
        window.location.href = data.redirectPath;
    } else {
        if (data.user) {
            message.textContent = "User Already exists";
            clearError(message, 2000);
        } else if (data.referral) {
            message.textContent = "Invalid referral code";
            clearError(message, 2000);
        }
    }
},

            error: function (error) {
                console.error('Error:', error);
            }
        });
    }
}

function clearError(element, time) {
    setTimeout(() => element.textContent = "", time);
}

    </script>

    <script src="/public/assets/js/loader.js"></script>
    <script src="public/assets/js/jquery.min.js"></script>
    <script src="public/assets/js/bootstrap.bundle.min.js"></script>
    <script src="public/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="public/assets/js/jquery.waypoints.min.js"></script>
    <script src="public/assets/js/superfish.min.js"></script>
    <script src="public/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="public/assets/js/main.js"></script>
</body>


<!-- molla/login  22 Nov 2019 10:04:03 GMT -->
</html>