<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h2>Thank you for order </h2>
<p>Your order get will soon</p>
<a href="/">GO home</a>


</body>
</html>